<div class="container" *ngIf="productFormGroup">
  <form [formGroup]="productFormGroup">
    <div class="form-group">
      <input type="hidden" class="form-control col-lg-6" formControlName="id">
    </div>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control col-lg-6" formControlName="name"
             [ngClass]="{'is-invalid':submitted && productFormGroup.controls.name.errors}">
      <div *ngIf="submitted && productFormGroup.controls.name.errors" class="invalid-feedback">
        <div *ngIf="productFormGroup.controls.name.errors.required">Name is Required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Price</label>
      <input type="text" class="form-control col-lg-6" formControlName="price">
    </div>
    <div class="form-group">
      <label>Quantity</label>
      <input type="text" class="form-control col-lg-6" formControlName="quantity">
    </div>
    <div class="form-group">
      <label>Selected</label>
      <input type="checkbox" formControlName="selected" class="form-check">
    </div>
    <div class="form-group">
      <label>Available</label>
      <input type="checkbox" formControlName="available" class="form-check">
    </div>
    <button class="btn btn-success" (click)="onEditProduct()">Update</button>

  </form>

</div>
