<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar navbar-nav">
    <li>
      <button class="btn btn-outline-info ml-2" (click)="onGetAllProduct()">All</button>
    </li>
    <li>
      <button class="btn btn-outline-info ml-2" (click)="onGetSelectedProduct()">Selected</button>
    </li>
    <li>
      <button class="btn btn-outline-info ml-2" (click)="onGetAvailableProduct()">Available</button>
    </li>
    <li>
      <button class="btn btn-outline-info ml-2" (click)="onNewProduct()">New</button>
    </li>
  </ul>
  <ul class="navbar navbar-nav ml-auto">
    <li>
      <form #f="ngForm" class="form-inline" (ngSubmit)="onSearch(f.value)">
        <input ngModel name="keyword" class="form-check-input" type="text">
        <button  class="btn btn-sm btn-outline-info">
          <span class="fa fa-search"></span>
        </button>
      </form>
    </li>
  </ul>
</nav>
