<tr *ngIf="p" >
  <td>{{p.id}}</td>
  <td>{{p.name}}</td>
  <td>{{p.price}}</td>
  <td>{{p.quantity}}</td>
  <td><span [ngClass]="p.selected?'fa fa-heart text-primary':'fa fa-heart text-danger'"></span></td>

  <td><span [ngClass]="p.available?'fa fa-handshake-o text-primary':'fa fa-window-close text-danger'"></span></td>
  <td>
    <button (click)="onSelect(p)" class="btn btn-sm"[ngClass]="p.selected?'btn-success':'btn-danger'">
      <span *ngIf="p.selected">Selected</span>
      <span *ngIf="!p.selected">UnSelected</span>
    </button>
  </td>
  <td>
    <button (click)="onDelete(p)" class="btn btn-sm btn-danger">
      <span class="fa fa-trash-o"></span>
    </button>
  </td>
  <td>
    <button (click)="onEdit(p)" class="btn btn-sm btn-danger">
      <span class="fa fa-edit"></span>
    </button>
  </td>
</tr>
